<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VOD</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
</head>
<body>
<header>
    <a href="./"><h1>Pix</h1></a>
    <h2 th:text="${title}"></h2>
    <h3>
    </h3>
</header>
<section>

    <div th:text="${errorMessage}"/>

</section>
<div id="orders">

</div>
<footer>
    ${tip}
</footer>

</body>
</html>